/* General */
.txtWhite {
	color: #fff;
}
.coral {
	color: #f05f40;
}
.bgCoral {
	background-color: #f05f40;
}
.navCoral {
	background-color: #f2755a;
}
.bgBlack {
	background-color: #222222;
}
.bgWhite {
	background-color: #fff;
}
.bgImg {
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.opacity {
	opacity: 0.5;
}
.fontSize08 {
	font-size: 0.8em;	
}
.fontSize3 {
	font-size: 3em;
}
.bold {
	font-weight: bold;	
}
.bolder {
	font-weight: bolder;
}

/* HEADER */
.contLogoNav {
	margin-top: 1%;
}
nav a {
	color: rgba(255, 255, 255, 0.8);
}
nav a:hover , .bottonHeader a:hover {
	color: white;
	text-decoration: none;
}
.lineaNav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.tittle {
	margin-top: 15%;
}
.lineTittle {
	width: 35px;
	border-top: 2px solid #f05f40;
}
.description {
	margin: 3% 25%;
}
.bottonHeader a {
	padding: 15px 20px;
	border-radius: 20px;
}